{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">Gite.</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="accueil">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="equipements">Equipements</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>&nbsp;&nbsp;&nbsp;
                            <li class="nav-item"><a class="nav-link"  href="login"><button class="btn btn-primary">Connexion</button></a></li>
                            <li class="nav-item"><a class="nav-link"  href="register"><button class="btn btn-danger">S'inscrire</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br><br>
            
<div class="container">

<form name="registration_form" method="post">

    <div >
        <label for="registration_form_email" class="form-label" type="email" >Email</label>
        <input type="text" id="registration_form_email" class="form-control"name="registration_form[email]" required="required" placeholder="Email" maxlength="180" style="height: 50px; width: 300px;">
    </div>

    <div>      
        <label for="registration_form_plainPassword" class="form-label">Password</label>
        <input type="password" id="registration_form_plainPassword" class="form-control"type="email" name="registration_form[plainPassword]" required="required" placeholder="Password" autocomplete="new-password"style="height: 50px; width: 300px;">
    </div><br>

    <div>
        <label for="registration_form_agreeTerms" class="required">Agree terms</label>
        <input type="checkbox" id="registration_form_agreeTerms" name="registration_form[agreeTerms]" required="required" value="1">
    </div><br><br>

    <button type="submit" class="btn btn-success">Register</button>

<input type="hidden" id="registration_form__token" name="registration_form[_token]" value="70507.hNQr-LKVRtRoKYKCySmHnVjM4ZoDXVBUDXO-ul8PTR4.wYJOn-HlHp8bS8bbp3PQri2asKNZMSABSkX50x5LenT8oGii4OQprF0Ezw"></form>
</div>
 


{% endblock %}
