{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="accueil">Gite.</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="accueil">Accueil</a></li>
                            <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="search">Rechercher</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>&nbsp;&nbsp;&nbsp;
                            <li class="nav-item"><a class="nav-link"  href="login"><button class="btn btn-primary">Connexion</button></a></li>
                            <li class="nav-item"><a class="nav-link"  href="register"><button class="btn btn-danger">S'inscrire</button></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
<header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Découvrez tous les services mis à votre disposition.</h1>
                                <p class="lead fw-normal text-muted mb-4">Les services qui vous sont proposés ici sont de qualités. Vous ne pourrez pas trouver mieux ailleur</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Notre histoire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
<section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://images.unsplash.com/photo-1606402179428-a57976d71fa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="..."></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nos fondations</h2>
                            <p class="lead fw-normal text-muted mb-0">Notre site à été pensé uniquement pour vous offrir le meilleur service possible. Les gîtes que nous proposons sont uniques. Nos fondations sont pensées sur des bases solides</p>
                        </div>
                    </div>
                </div>
            </section>
<section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://images.unsplash.com/photo-1564574685150-74a84d02d695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=696&q=80" alt="..."></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Une forte croissance</h2>
                            <p class="lead fw-normal text-muted mb-0">Notre site connais une très forte croissance depuis l'année 2021 et son succès est en parti grâce à vous. Nos utilisateurs ne sont jamais décus.</p>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
