{% extends 'base.html.twig' %}

{% block title %}New Gite{% endblock %}

{% block body %}
    <h1>Create new Gite</h1>

    {{ include('affichergite/_form.html.twig') }}

    <a href="{{ path('app_affichergite_index') }}">back to list</a>
{% endblock %}
