{% extends 'base.html.twig' %}


{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
{{ include('layouts/partials/_nav.html.twig') }}
            <h1>Gîtes de France vous souhaite la bienvenue</h1>
{% endblock %}
