{% extends 'base.html.twig' %}


{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
{{ include('layouts/partials/_nav.html.twig') }}
            <h1> Bienveniue a gite </h1>
{% endblock %}
